<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="student" class="com.zensar.spring.beans.Student"  p:rollNumber="101" p:studentName="Ram" p:marks="95" p:address-ref="addr"/>

<!-- <bean id="student" class="com.zensar.spring.beans.Student">
	<property name="rollNumber">
		<value>101</value>
	</property>
	<property name="studentName">
		<value>Rohit</value>
	</property>
	<property name="marks" >
		<value>40</value>
	</property>
	<property name="address" ref="addr" />
</bean> -->

<bean id="addr" class="com.zensar.spring.beans.Address">
	<property name="pinCode" value="411016"></property>
	<property name="city" value="Pune"></property>
	<property name="state" value="Maha"></property>
</bean>
	
</beans>
