<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.zensar.spring.beans.Student" abstract="true">
		<constructor-arg value="1" type="int" index="1"/>
		<constructor-arg value="Ramesh" type="java.lang.String" index="0"/>
		<constructor-arg value="50" type="int"/>
	</bean>
	
	<bean id="stud1" class="com.zensar.spring.beans.Student" parent="student">
		<property name="marks" value="51" ></property>
	</bean>
	

</beans>
